body {
    background-color: #030637;
}

.hide {
    display: none;
}

.heading1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

.heading2 {
    margin-top: 200px;
    text-align: center;
    color: white;
    font-size: 60px;
}

button {
    margin-left: 630px;
    text-align: center;
    color: 030637;
    font-size: 30px;
    height: 70px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
}

.choices {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.choice {
    transform: scale(1.2);
    transition: transform 0.05s ease;
}

.choice:hover {
    cursor: pointer;
}

.choice.clicked {
    transform: scale(1);
}

img {
    border: 7px solid white;
    border-radius: 200px;
    object-fit: cover;
}

.scores {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 120px;
    color: white;
    font-size: 20px;
}

.user-comp-score {
    transform: scale(1.2);
    transition: transform 0.05s ease;
}

.user-comp-score.clicked {
    transform: scale(1);
}

.user-comp {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    gap: 100px;
    color: white;
}

.ending {
    margin-left: 520px;
    margin-top: 80px;
    padding-top: 10px;
    background-color: green;
    border-radius: 10px;
    border: none;
    width: 500px;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    transform: scale(1.2);
    transition: transform 0.05s ease;
}

.ending.clicked {
    transform: scale(1);
}


/* margin-left: 480px;
width: 600px;
height: 55px; */
